version: 2.1

jobs:
  build:
  deploy:
  machine:
    enabled: true
  steps:
    - run:
        name: Deploy Over SSH
        command: |
          ssh $SSH_USER@$SSH_HOST "cd /var/www/production && git checkout ./ && git pull && npm run build"

workflows:
  build-and-deploy:
  jobs:
    - build
    - deploy:
        requires:
          - build # only deploy once build job has completed
        filters:
        branches:
          only: main # only deploy on the main branch